@import 'colors';
@import 'media-queries';

.nav__container {
    width: 100%;
    background-color: $dark;

    .navbar {
        display: grid;
        grid-template-columns: 0.2fr auto 1fr;
        align-items: center;
        height: 5rem;
        width: 90%;
        max-width: 1720px;
        margin: 0 auto;

        .menu__toggle {

            .bar {
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all .3s ease-in-out;
                background: $light;
            }
        }

        #navbar__logo {
            color: $light;
            justify-self: start;
            margin-left: 1.25rem;
            cursor: pointer;
        }

        &__menu {
            display: grid;
            grid-template-columns: repeat(4, auto);
            list-style: none;
            text-align: center;
            width: 70%;
            justify-self: end;

            &--links {
                color: $light;
                text-decoration: none;
                transition: all .3s ease-in-out;

                &:hover {
                    color: $lime;
                }
            }

            &--links-btn {
                background-color: $lime;
                padding: 8px 16px;
                border-radius: 6px;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: transparent;
                    color: $light;
                    border: solid 1px $lime;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}

@include tablet {
    .nav__container {
        position: relative;

        .navbar {
            width: 100%;

            &__menu {
                display: grid;
                grid-template-columns: auto;
                background: $grey;
                margin: 0;
                width: 100%;
                position: absolute;
                top: 5rem;
                left: -100%;
                opacity: 0;
                transition: all .4s ease;

                &--links {
                    text-align: center;
                    line-height: 3.75rem;
                    width: 100%;
                    display: table;

                    &:hover {
                        background: $grey;
                        color: $light;
                    }

                    &-btn {
                        padding: 0;
                        border-radius: 0;
                        transition: all .3s ease-in-out;
                        background: $darkGrey;
                        
                        &:hover {
                            border: none;
                            color: $light;
                            background: $lime;
                        }
                    }
                        
                    
                }
            }

            #navbar__logo {
                margin-left: 1.25rem;
            }

            &__menu.active {
                background-color: $darkGrey;
                left: 0;
                opacity: 1;
                transition: all .3s ease;
            }

            #mobile__menu {
                position: absolute;
                top: 30%;
                right: 5%;
                transform: translate(5%, 30%);
            }

            .menu__toggle .bar {
                display: block;
                cursor: pointer;
            }

            .menu__toggle:hover {
                cursor: pointer;
            }

            #mobile__menu.is-active .bar:nth-child(2) {
                opacity: 0;
            }

            #mobile__menu.is-active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            #mobile__menu.is-active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}