@import 'media-queries';

.services {
    // min-height: calc(100vh - 5rem);
    height: 100%;
    width: 100%;
    background-color: $lightGreyUp;
    padding-bottom: 3.1rem;

    .title {
        text-align: center;

        h1 {
            padding: 2rem 0;
            font-size: 3rem;
        }

        @include tablet {
            h1 {
                padding: 1.5rem 0;
                font-size: 2rem;
            }
        }

        @include mobile {
            h1 {
                padding: 1.3rem 0;
                font-size: 1.7rem;
            }
        }
    }

    &__container {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        text-align: center;

        @include laptop{
            height: 100%;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            text-align: center;
        }

        @include tablet {
            height: 100%;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            text-align: center;
        }

        @include mobile {
            height: 100%;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
            text-align: center;
        }

        .card {
            width: 100%;
            height: 100%;
            background-color: $light;
            border: 3px solid $dark;
            border-radius: 8px;
            transition: all .3s ease-in-out;

            &__icon {
                font-size: 6rem;
                color: $lime;
                padding: 2rem;
                border-bottom: 3px solid $dark;

                @include mobile {
                    font-size: 5rem;
                }
            }

            &__description {
                padding: 2rem 1rem;

                @include mobile {
                    padding: 1rem 0.5rem;
                }

                h2 {
                    font-size: 2rem;
                    padding-bottom: 1.3rem;

                    @include mobile {
                        font-size: 1.8rem;
                        padding-bottom: 1.1rem;
                    }
                }

                p {
                    font-size: 1.3rem;
                    line-height: 1.4;
                    padding-bottom: 1.3rem;

                    @include mobile {
                        font-size: 1.1rem;
                        line-height: 1.3;
                    }
                }

                .card-btn {
                    text-decoration: none;
                    background-color: $lightGreyUp;
                    padding: 8px 16px;
                    border-radius: 8px;
                    color: $dark;
                    font-size: 1.2rem;
                    transition: all .3s ease-in-out;

                    @include mobile {
                        font-size: 1.1rem;
                    }

                    &:hover {
                        background-color: $dark;
                        color: $light;
                    }
                }
            }

            &:hover {
                transform: scale(1.0825);

                @include mobile {
                    transform: scale(1.0425);
                }
            }
        }

        
        }
}

