@import 'navbar';
@import 'hero';
@import 'about';
@import 'services';
@import 'contact';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}


html {
    font-size: 100%;
}